# User-specific files
UserSettings/

# Build results
[Bb]uild/
[Bb]uilds/

# User-specific files
.idea/

# Gradle files
gradle-wrapper.jar
gradle-wrapper.properties

# Unity
Temp/
Library/
Logs/
.vs/
.vscode/
Build/
Builds/
obj/
